@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kalam&display=swap');

.pacifico {
    font-family: 'Bree Serif', serif;
}

.kalam {
    font-family: 'Bree Serif', serif;
    font-family: 'Kalam', cursive;
}

.ho:hover {
    background: crimson;
    padding-bottom: 0.5rem;
}
#nav:hover {
  color: white;
  padding-bottom: 0.5rem;
}
.aboutme:hover{
    background: crimson;
    padding: 0.5rem;
}

  #left-border {
    border-left: 0.1rem solid white;
  }
  
  .work{
   position: relative;
   overflow: hidden;
   
  }
  .work-img-top {
    display: block;
    transition: 0.5s;
    height: 350px;
    
  }
  
  .work-body{
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    height: 0;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    transition: height 0.5s;
  }
  .card:hover .card-body {
   height: 100%;
   
  }
  .card-img-top:hover {
    transform: scale(1.1);
  }
  .card:hover {
    cursor: pointer;
  }