@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kalam&display=swap');

.pacifico {
    font-family: 'Bree Serif', serif;
}

.kalam {
    font-family: 'Bree Serif', serif;
    font-family: 'Kalam', cursive;
}

.ho:hover {
    background: crimson;
    padding-bottom: 0.5rem;
}
#nav:hover {
  color: white;
  padding-bottom: 0.5rem;
}
.aboutme:hover{
    background: crimson;
    padding: 0.5rem;
}
.navbar1 {
    
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
.navbar1 a {
    padding: 1.5rem;
    font-size: 0.5rem;
    background: #1a1a1a;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #fff;
    text-align: center;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .navbar1 a i {
    color: crimson;
    padding-right: 0.5rem;
  }
  
  
  #card:hover{
    background-color: #040404;
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  #left-border{
    border-left: .2rem solid white;
  }
  #mywork-card:hover{
    background-color: #040404;
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }